body{
    background-color: #000000;
}
.container-fluid{
    color: white;
    background-color: black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}
.nav-container {
    display: flex;
    padding: 10px;
    color: #fff;
    padding: auto;
    background-color: #000000;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
}
.image{
    height: 140px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.title {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    padding: 10px;
    align-items: end;
    color: #fff;
}

.btn {
    margin: 10px;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    -webkit-border-radius: 30rem;
    -moz-border-radius: 30rem;
    -ms-border-radius: 30rem;
    -o-border-radius: 30rem;
    border-radius: 30rem;
}

@media (min-width: 200px) {
    .nav-container {
        flex-direction: column;
    }
}

/*faculity box*/



/* Our Team*/

.card{
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 40px rgb(230, 31, 31);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 40px);
    flex-basis: calc(33.33% - 40px);
}

.card .image-box {
    border-radius: inherit;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .image-box img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    transition: 0.5s ease-in-out;
    height: 100%;
}

.card::after {
    content: "";
    position: relative;
    opacity: 1;
    transition: 0.1s ease-in-out;
    overflow: hidden;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.card:hover::after{
    opacity: 1;
    inset: 20px;
}

.card .content{
    align-items: center;
    color: rgb(255, 253, 253);
    text-transform: capitalize;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
    opacity: 0;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    background: black;
    visibility: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.card:hover .content{
    opacity: 0.7;
    visibility: visible;
    animation: popup 0.5s ease-in-out;
}

@keyframes popup {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

h5{
    color: white;
}

@media (max-width: 1200px) {
    .card {
        flex-basis: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(100% - 40px);
    }
}

@media (max-width: 480px) {
    .card .content {
        font-size: 16px;
    }
    .card .image-box img {
        object-position: 50% 80%;
    }
    .card {
        margin: 10px;
    }
}
.heading{
    text-align: center;
    padding: auto;
}


.heading-barriers{
    text-align: center;
    background-color: rgb(157, 29, 29);
    margin: 1rem;
    color: black;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    padding: 0.2rem;
    width: 100%;
}