<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Faculity</title>
    <link rel="stylesheet" href="stylesheet/navbaar.css">
    <script src="javascript/navbaar.js"></script>
    <style>
        body{
            background-color: black;
            background-size: cover;

        }
        .container {
        width: 100%;
        padding: 10px;
        background-color: #000000;
        background-size: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        box-sizing: border-box;
        position: inherit;
        animation: fadeIn 2s;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .heading-barriers {
            color: #ffffff;
            font-weight: 800;
            font-family: Playfair Display;
            border-bottom: 2px solid;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }

        .faculty-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 20px;
            animation: fadeIn 2s;
        }

        .faculty-member {
            background-color: #ffffff;
            color: #000000;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            animation: fadeIn 2s;
        }

        .faculty-member img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .faculty-member h3 {
            color: black;
            margin-bottom: 5px;
            font-size: 25px;
        }

        .faculty-member p {
            font-size: 16px;
            font-weight: 800;
            font-style: unset;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 10px;
        }

        @media (max-width: 1200px) {
            .faculty-grid {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
        }

        .sub-faculity-container{
        width: 100%;
        padding: 10px;
        background-color: #000000;
        background-size: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        box-sizing: border-box;
        position: inherit;
        animation: fadeIn 2s;
        }

        .sub-faculty-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            grid-gap: 15px;
            animation: fadeIn 2s;
        }

        .sub-faculty-member {
            background-color: #ffffff;
            color: #000000;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            animation: fadeIn 2s;
        }

        .sub-faculty-member .image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .sub-faculty-member .h3 {
            color: black;
            margin-bottom: 5px;
            font-size: 20px;
        }

        .sub-faculty-member .p {
            font-size: 16px;
            font-weight: 800;
            font-style: unset;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 10px;
        }
        @media (max-width: 1200px) {
            .sub-faculty-grid {
                grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
            }
        }


        .loader {
        --size: 400px;
        --duration: 2.5s;
        --logo-color: grey;
        --background: linear-gradient(
            0deg,
            rgb(30 27 109 / 20%) 0%,
            rgb(137 76 161 / 20%) 100%
        );
        height: var(--size);
        aspect-ratio: 1;
        position: relative;
        pointer-events: none;
        }

        .loader .box {
        position: absolute;
        background: var(--background);
        border-radius: 50%;
        box-shadow:
            rgba(0, 0, 0, 0.5) 0px 10px 10px 0,
            inset rgba(205, 155, 255, 0.5) 0px 5px 10px -7px;
        animation: ripple var(--duration) infinite ease-in-out;
        inset: var(--inset);
        animation-delay: calc(var(--i) * 0.15s);
        z-index: calc(var(--i) * -1);
        pointer-events: all;
        transition: all 0.3s ease;
        }

        .loader .box:last-child {
        filter: blur(10px);
        }
        .loader .box:not(:last-child):hover {
        filter: brightness(2.5) blur(0px);
        }

        .loader .logo {
        position: absolute;
        inset: 0;
        display: grid;
        place-content: center;
        padding: 30%;
        }

        .loader .logo .img {
        fill: var(--logo-color);
        width: 100%;
        height: 100%;
        animation: color-change var(--duration) infinite ease-in-out;
        }

        @keyframes ripple {
        0% {
            transform: scale(1);
            box-shadow:
            rgba(0, 0, 0, 0.5) 0px 10px 10px 0,
            inset rgba(205, 155, 255, 0.5) 0px 5px 10px -7px;
        }
        65% {
            transform: scale(1.4);
            box-shadow: rgba(0, 0, 0, 0) 0px 0 0 0;
        }
        100% {
            transform: scale(1);
            box-shadow:
            rgba(0, 0, 0, 0.5) 0px 10px 10px 0,
            inset rgba(205, 155, 255, 0.5) 0px 5px 10px -7px;
        }
        }

        @keyframes color-change {
        0% {
            fill: var(--logo-color);
        }
        50% {
            fill: white;
        }
        100% {
            fill: var(--logo-color);
        }
        }

    </style>
</head>
<body>

        <div class="loader">
            <div style="--i: 1; --inset:44%" class="box">
                <div class="logo">
                <img class="img" src="/image folder/Student council png.png">
                </div>
            </div>
            <div style="--i: 2; --inset:40%" class="box"></div>
            <div style="--i: 3; --inset:36%" class="box"></div>
            <div style="--i: 4; --inset:32%" class="box"></div>
            <div style="--i: 5; --inset:28%" class="box"></div>
            <div style="--i: 6; --inset:24%" class="box"></div>
            <div style="--i: 7; --inset:20%" class="box"></div>
            <div style="--i: 8; --inset:16%" class="box"></div>
        </div>
    


    <nav>
        <div class="logo">
            <img class="image-logo" src="/image folder/Student council png.png"/ title="council logo">
            <h1>STUDENT COUNCIL</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/faculty">Faculity</a></li>
            <li><a href="/gallery">Event Gallary</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="faculityContainer">
        <div class="container">
          <div class="heading-barriers"><h1>Our Faculty Heads</h1></div>
        <div class="faculty-grid">
            <div class="faculty-member">
                <img src="/image folder/faculty/Prof.(Dr.) Shashi K. Jain.png" alt="Prof.(Dr.) Shashi K. Jain">
                <h3>Prof.(Dr.) Shashi K. Jain</h3>
                <p class="para">COUNCIL HEAD</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Dr. Kavita Burse.png" alt="Dr. Kavita Burse">
                <h3>Dr. Kavita Burse</h3>
                <p>PROFESSIONAL DEVELOPMENT MENTOR</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Prof. Pankaj Patel.png" alt="Prof. Pankaj Patel">
                <h3>Prof. Pankaj Patel</h3>
                <p>COUNCIL SUPERVISOR</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Dr. Vivek Sharma.png" alt="Dr. Vivek Sharma">
                <h3>Dr. Vivek Sharma</h3>
                <p>COUNCIL MENTOR</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Dr. Anula Khare.png" alt="Dr. Anula Khare">
                <h3>Dr. Anula Khare</h3>
                <p>COUNCIL ADVISOR</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Prof Sumit Vashishtha.png" alt="Dr. Sumit Vashishtha">
                <h3>Dr. Sumit Vashishtha</h3>
                <p>FACULTY COMMITTEE HEAD</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Dr. Sangeeta Kumar.png" alt="Dr. Sangeeta Kumar">
                <h3>Dr. Sangeeta Kumar</h3>
                <p>LITERARY PATRON</p>
            </div>
            
            <div class="faculty-member">
                <img src="/image folder//faculty/Prof. Hemant Vyas.png" alt="Prof. Hemant Vyas">
                <h3>Prof. Hemant Vyas</h3>
                <p>CODING PATRON</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Prof. Anjani Johrawanshi.png" alt="Prof. Anjani Johrawanshi">
                <h3>Prof. Anjani Johrawanshi</h3>
                <p>VERBAL ADVISOR</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Prof. Neha Jain. Neha Jain.png" alt="Prof. Neha Jain">
                <h3>Prof. Neha Jain</h3>
                <p>FACULTY COORDINATOR</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Dr. Tripti Kaushal.png" alt="Dr. Tripti Kaushal ">
                <h3>Dr. Tripti Kaushal </h3>
                <p>FACULTY COORDINATOR SCIENCE</p>
            </div>
            <div class="faculty-member">
                <img src="/image folder/faculty/Dr. Sanjeev Sharma.png" alt="Dr. Sanjeev Sharma">
                <h3>Dr. Sanjeev Kumar</h3>
                <p>FACULTY COORDINATOR ADVANCE</p>
            </div>
        </div>
      </div>
      </div>    


      <!--Sub Faculitu Section-->


      <div class="sub-faculity-container">
        <div class="sub-faculty-title">
            <h1>Our Faculty</h1>
        </div>
        <div class="sub-faculty-grid">
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Dr.Kiran Pandey.png" alt="Dr.Kiran Pandey">
                <h3 class="h3">Dr.Kiran Pandey</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Dr. Anurag Paliwal.png" alt="Dr. Anurag Paliwa">
                <h3 class="h3">Dr. Anurag Paliwal</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof Aarti Shrivastava.png" alt="Prof Aarti Shrivastava">
                <h3 class="h3">Prof Aarti Shrivastava</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Kavita Singh.png" alt=Prof. Kavita Singh">
                <h3 class="h3">Prof. Kavita Singh</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof.  Kuldeep Singh Parihar.png" alt="Prof. Kuldeep Singh Pariha">
                <h3 class="h3">Prof. Kuldeep Singh Pariha</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Abhay Chaturbedi.png" alt="Prof. Abhay Chaturbedi">
                <h3 class="h3">Prof. Abhay Chaturbedi</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/" alt="Prof.Rakesh Tiwari">
                <h3 class="h3">Prof. Rakesh Tiwari</h3>
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Poonam Rawat.png" alt="Prof. Poonam Rawat">
                <h3 class="h3">Prof. Poonam Rawat</h3> 
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Himanshu Shorti.png" alt="Prof. Himanshu Shorti">
                <h3 class="h3">Prof. Himanshu Shorti</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Nadish Pandey.png" alt="Prof. Nadish Pandey">
                <h3 class="h3">Prof. Nadish Pandey</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Nikita Khandelwal.png" alt="rof. Nikita Khandelwal">
                <h3 class="h3">Prof. Nikita Khandelwal</h3>
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Anshul Jain.png" alt="Prof. Anshul Jain">
                <h3 class="h3">Prof. Anshul Jain</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof.Akash Yadav.png" alt="Prof.Akash Yadav">
                <h3 class="h3">Prof.Akash Yadav</h3>
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Divyank Mishra.png" alt="Prof. Divyank Mishra">
                <h3 class="h3">Prof. Divyank Mishra</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/faculties/Prof. Pragya.png" alt="Prof. Pragya">
                <h3 class="h3">Prof. Pragya</h3>
            </div>
            
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/Prof" alt="Prof">
                <h3 class="h3">Prof</h3>
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/Prof" alt="Prof">
                <h3 class="h3">Prof</h3>
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/Prof" alt="Prof">
                <h3 class="h3">Prof</h3>
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/Prof" alt="Prof">
                <h3 class="h3">Prof</h3>
                
            </div>
            <div class="sub-faculty-member">
                <img class="image" src="/image folder/faculty/Prof" alt="Prof">
                <h3 class="h3">Prof</h3>
                
            </div>
            
        </div>
      </div>
</body>
</html>