<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robo Race</title>
    <link rel="stylesheet" href="/stylesheet/Event page.css">
</head>
<body>

<div class="container">
    <!-- Header Section -->
    <header>
        <h1>ANWESHA 2.0 - Robo Race</h1>
        <p>Organized by the Student Council TIT</p>
        <p>Venue: Technocrats Group of Institutes</p>
        <a href="">
            <button>Register Now</button>
        </a>
    </header>

    <!-- Event Description Section -->
    <section class="section">
        <h2>Robo Race</h2>
        <p>Join the thrilling Robo Race! Compete solo or in teams of up to 5 for a high-speed challenge. Entry Fee: ₹300 per team</p>
        <h5 class="coordinater">
            Coordinators:<br/>
            Ayan Khan: 7879206795<br/>
            Ashish: 79798 01929
        </h5>
    </section>

    <!-- Footer Section -->
    <footer>
        <p>&copy;Technocrats Group of Institutes. All rights reserved.</p>
    </footer>
</div>

</body>
</html>
