<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT COUNCIL</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">
    <link rel="stylesheet" href="/stylesheet/Student.css">
    <link rel="stylesheet" href="/stylesheet/navbaar.css">
    <script src="javascript/navbaar.js"></script>

    
</head>
<body>
<section class="header">
  <nav>
    <div class="logo">
        <img class="image-logo" src="/image folder/Student council png.png" title="council logo">
        <h1>STUDENT COUNCIL</h1>
    </div>
    <ul class="nav-links">
        <li><a href="/Home"><button class="boton-elegante">Home</button></a></li>
        <li><a href="/members"><button class="boton-elegante">Members</button></a></li>
        <li><a href="/clubs"><button class="boton-elegante">Clubs</button></a></li>
        <li><a href="/faculty"><button class="boton-elegante">Faculty</button></a></li>
        <li><a href="/gallery"><button class="boton-elegante">Gallary</button></a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
  </nav>

  
  <div class="text-box">
    <h1>STUDENT COUNCIL <br/><span class="welcome">Welcome You</span></h1>
    <p>Join us to explore the real worlds hand on hand experience and azaming fun activity, <br/><span>Register For Anwesha 2.0</span></p>
    <a href="#">
      <button class="styled-button">
        Register Now
        <div class="inner-button">
          <svg
            id="Arrow"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            height="30px"
            width="30px"
            class="icon"
          >
            <defs>
              <linearGradient y2="100%" x2="100%" y1="0%" x1="0%" id="iconGradient">
                <stop style="stop-color:#FFFFFF;stop-opacity:1" offset="0%"></stop>
                <stop style="stop-color:#AAAAAA;stop-opacity:1" offset="100%"></stop>
              </linearGradient>
            </defs>
            <path
              fill="url(#iconGradient)"
              d="M4 15a1 1 0 0 0 1 1h19.586l-4.292 4.292a1 1 0 0 0 1.414 1.414l6-6a.99.99 0 0 0 .292-.702V15c0-.13-.026-.26-.078-.382a.99.99 0 0 0-.216-.324l-6-6a1 1 0 0 0-1.414 1.414L24.586 14H5a1 1 0 0 0-1 1z"
            ></path>
          </svg>
        </div>
      </button>
      </a>
</div>
</section>

  <!-- Enhanced Carousel Section -->
  <div id="updateSection">
    <h1>EVENTS</h1>
    <div class="elem">
        <h5>ROBOTICS CLUB</h5>
        <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="elemContainer">
            <h2>Robo War</h2>
            <p>25 </p>
        </div>
    </div>
    <div class="elem">
        <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h5>ROBOTICS CLUB</h5>
        <div class="elemContainer">
            <h2>Robo Race</h2>
            <p>3RD FEBUARY 2020 </p>
        </div>
    </div>
    <div class="elem">
        <img src="https://images.unsplash.com/photo-1535276120455-84c8ada2414b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h5>CODING CLUB</h5>
        <div class="elemContainer">
            <h2>Hacke With Code(Hackathon)</h2>
            <p>25TH MARCH 2020 </p>
        </div>
    </div>
    <div class="elem">
        <h5>CODING CLUB</h5>
        <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="elemContainer">
            <h2>Code Clash 3.0</h2>
            <p>25TH MARCH 2020 </p>
        </div>
    </div>
    <div class="elem">
      <h5>MUSIC CLUB</h5>
      <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <div class="elemContainer">
          <h2>Musical Chair</h2>
          <p>25TH MARCH 2020 </p>
      </div>
  </div>
  <div class="elem">
      <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <h5>RENEWABLE & EV CLUB</h5>
      <div class="elemContainer">
          <h2>Renewable Model Showcase</h2>
          <p>3RD FEBUARY 2020 </p>
      </div>
  </div>
  <div class="elem">
      <img src="https://images.unsplash.com/photo-1535276120455-84c8ada2414b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <h5>TECH WIZARD, LITERARY CLUB & ALUMINI RELATION CLUB</h5>
      <div class="elemContainer">
          <h2>Dum Charade</h2>
          <p>25TH MARCH 2020 </p>
      </div>
  </div>
  <div class="elem">
      <h5>TECH WIZARD, LITERARY CLUB & ALUMINI RELATION CLUB</h5>
      <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <div class="elemContainer">
          <h2>Open Mic</h2>
          <p>25TH MARCH 2020 </p>
      </div>
  </div>
  <div class="elem">
    <h5>TECH WIZARD, LITERARY CLUB & ALUMINI RELATION CLUB</h5>
    <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <div class="elemContainer">
        <h2>Story Telling</h2>
        <p>25TH MARCH 2020 </p>
    </div>
</div>
<div class="elem">
  <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <h5>ENTREPRENEURSHIP CLUB & CULTURAL CLUB</h5>
  <div class="elemContainer">
      <h2>Corporate Challenge</h2>
      <p>3RD FEBUARY 2020 </p>
  </div>
</div>
<div class="elem">
  <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <h5>ENTREPRENEURSHIP CLUB & CULTURAL CLUB</h5>
  <div class="elemContainer">
      <h2>Entrepreneurship Sales Stall</h2>
      <p>3RD FEBUARY 2020 </p>
  </div>
</div>
<div class="elem">
  <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <h5>ENTREPRENEURSHIP CLUB & CULTURAL CLUB</h5>
  <div class="elemContainer">
      <h2>Escape Room/Business</h2>
      <p>3RD FEBUARY 2020 </p>
  </div>
</div>
<div class="elem">
  <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <h5>ENTREPRENEURSHIP CLUB & CULTURAL CLUB</h5>
  <div class="elemContainer">
      <h2>Entrepreneurial Meme Contest</h2>
      <p>3RD FEBUARY 2020 </p>
  </div>
</div>
<div class="elem">
  <h5>DISCIPLINE CLUB</h5>
  <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <div class="elemContainer">
      <h2>Running Comepetition(Marathon)</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>
<div class="elem">
  <h5>CULTURAL CLUB</h5>
  <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <div class="elemContainer">
      <h2>Tug Of War</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>
<div class="elem">
  <img src="https://images.unsplash.com/photo-1535276120455-84c8ada2414b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <h5>TECH WIZARD, LITERARY CLUB & ALUMINI RELATION CLUB</h5>
  <div class="elemContainer">
      <h2>Debate Competition</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>
<div class="elem">
  <h5>IEEE CLUB</h5>
  <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <div class="elemContainer">
      <h2>Technical Presentation</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>
<div class="elem">
  <h5>DISCIPLINE CLUB</h5>
  <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <div class="elemContainer">
      <h2>Craft Carnival/ Poster Making/ Slogan Writing</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>
<div class="elem">
  <h5>TECH WIZARD, LITERARY CLUB & ALUMINI RELATION CLUB</h5>
  <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <div class="elemContainer">
      <h2>Screen to Speech</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>
<div class="elem">
<h5>TECH WIZARD, LITERARY CLUB & ALUMINI RELATION CLUB</h5>
<img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
<div class="elemContainer">
    <h2>Out Of Box</h2>
    <p>25TH MARCH 2020 </p>
</div>
</div>
<div class="elem">
    <img src="https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <h5>DANCE CLUB</h5>
    <div class="elemContainer">
        <h2>Flash Clash Of Style: The Dance Face-Off</h2>
        <p>3RD FEBUARY 2020 </p>
    </div>
</div>
<div class="elem">
    <img src="https://images.unsplash.com/photo-1535276120455-84c8ada2414b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <h5>DRONE CLUB</h5>
    <div class="elemContainer">
        <h2>Tech Theme Treasure Hunt</h2>
        <p>25TH MARCH 2020 </p>
    </div>
</div>
<div class="elem">
  <h5>TECH WIZARD CLUB</h5>
  <img src="https://images.unsplash.com/photo-1549570652-97324981a6fd?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <div class="elemContainer">
      <h2>Technical Quiz</h2>
      <p>25TH MARCH 2020 </p>
  </div>
</div>



<footer>
  <p>
    <a href="/Dev">
    <button class="button type1">
      <span class="btn-txt">Developer Team</span>
    </button>
  </a>
  </p>
</footer>

</div>




</body>
</html>